#gameCanvas .gui {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gameCanvas .gui .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    height: calc(var(--baseSize) * 6);
    width: calc(var(--baseSize) * 6);
    cursor: pointer;
}

#gameCanvas .gui .btn-icon {
    width: calc(var(--baseSize) * 3);
    height: calc(var(--baseSize) * 3);
    z-index: 1;
}

#gameCanvas .gui label {
    position: relative;
    cursor: pointer;
    top: -0.25em;
    z-index: 1;
    font-size: 1.25em;
    font-weight: 600;
    text-shadow:  1px 1px 1px rgba(0, 0, 0, 0.75), 0px 2px 4px rgba(0, 0, 0, 0.5);
}

#gameCanvas .gui .btn-image {
    position: absolute;
    width: calc(var(--baseSize) * 6);
    height: calc(var(--baseSize) * 6);
}

#gameCanvas .gui .gui_header {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

#gameCanvas .gui .gui_header .health_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 1em;
    border-radius: 1em;
    border: 2px solid rgba(250, 250, 250, 0.75);
    cursor: pointer;
    outline: none;
    background: transparent;
}

#gameCanvas .gui .gui_header .health_bar .health_icon {
    width: calc(var(--baseSize) * 3);
    height: calc(var(--baseSize) * 3);
    overflow: hidden;
}
#gameCanvas .gui .gui_header .health_bar .health_icon.health_disabled {
    opacity: 0.5;
    filter: grayscale(100%);
}
#gameCanvas .gui .gui_header .health_bar .health_icon img {
    width: calc(var(--baseSize) * 3);
    height: calc(var(--baseSize) * 3);
}

#gameCanvas .gui .gui_header .health_bar .add_health_button {
    width: calc(var(--baseSize) * 3);
    height: calc(var(--baseSize) * 3);
    overflow: hidden;
    align-content: center;
}
#gameCanvas .gui .gui_header .health_bar .add_health_button img {
    width: calc(var(--baseSize) * 2);
    height: calc(var(--baseSize) * 2);
}


#gameCanvas .gui .gui_header .btn-settings {
    position: relative;
}

#gameCanvas .gui .gui_header .btn-settings .btn-image {
    transform: rotate(20deg);
}

#gameCanvas .gui .btn-icon {
    position: relative;
}

#gameCanvas .gui .gui_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#gameCanvas .gui .gui_footer .btn-shop {
    position: relative;
}

#gameCanvas .gui .gui_footer .btn-shop .btn-image {
    transform: rotate(-20deg);
}

#gameCanvas .gui .gui_footer .btn-map {
    position: relative;
}

#gameCanvas .gui .gui_footer .btn-map .btn-image {
    transform: rotate(20deg);
}

/* RESPONSIVE SETTINGS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #gameCanvas .gui .gui_header {
        align-items: center;
    }
    #gameCanvas .gui .gui_header .health_bar {
        flex-direction: row;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}